* {
  font-family: "Raleway", sans-serif;
}

.profile-header {
  display: flex;
  align-items: center;
}
.profile-header-text {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.profile-header-button button {
  display: flex;
  align-items: center;
  border: solid 1px;
  height: 50%;
  background-color: blue;
  color: white;
  padding: 10px;
}

.profile-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.profile-card {
  border: solid 1px;
  height: 60vh;
  min-width: 320px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.profile-card-image {
  height: 70%;
  width: 25vw;
  min-width: 320px;
}

.profile-card-info {
  background-color: white;
  width: 25vw;
  height: 18vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-card-buttons {
  background-color: white;
  /* width: 25vw; */
  height: 18vh;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.profile-card-info button {
  background-color: white;
  border: solid 1px;
  padding: 5px;
  /* width: 25vw;
  height: 18vh; */
}

.profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
