.users-sign-up-container {
  /* background-color: teal; */
}

.user-signup-form {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
