.create-item-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.user-create-item-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user-create-item-form input {
  padding-left: 50px;
  padding-right: 50px;
}
.user-create-item-form select {
  padding-left: 50px;
  padding-right: 50px;
}

* {
  font-family: "Raleway", sans-serif;
}
