.bazar-container {
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h2 {
  display: flex;
  justify-content: center;
}
.bazar-card {
  /* background-color: red; */
  border: solid 1px;
  height: 60vh;
  min-width: 320px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bazar-card-image {
  height: 70%;
  width: 25vw;
  min-width: 320px;
}

.bazar-card-info {
  background-color: white;
  width: 25vw;
  height: 18vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bazar-card-info button {
  background-color: white;
  border: solid 1px;
  padding: 5px;
  /* width: 25vw;
  height: 18vh; */
}

.bazar-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
