* {
  font-family: "Raleway", sans-serif;
}

.product-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-card-image {
  height: 60%;
  width: 100%;
  /* background-color: yellow; */
}

.product-card-info {
  width: 100%;
  height: auto;
  font-size: calc(3px + 2vmin);
}

.product-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ProductCard {
  background-color: white;
  height: auto;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .ProductCard {
    border: 1px solid black;
    height: 80vh;
    width: 90%;
  }
}
